.main-app {
    text-align: center;
    margin: 75px;
}

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}

.stake-box {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    /* height: 15rem; */
    /* width: 5em; */
    border-style: solid;
    border-radius: 12px;
    border-color: black;
}

.stake-matic-button {
    background: orange;
}

.disabled-stake-matic-button {
    background: gray;
    cursor: no-drop;
}

.token-input-amount {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px;
    border-radius: 12px;
    /* min-width: 200px; */
    font-size: 18px;
    text-align: center;
}

.mint-nft-button {
    background: orange;
}

.remove-margin {
    margin: 0;
}

.remove-margin-bottom {
    margin-bottom: 0;
}